#menuhomepage,#menuinformatie,#menuwebshop,#menuinloggen
{
	position:relative;
	width:24.8%;
	height:91.2%;
	float:left;
	text-align:center;
	margin-bottom:1%;
	margin-top:1%;
	border:solid 1px #0433a0;
}

#menuhomepage:hover,#menuinformatie:hover,#menuwebshop:hover,#menuinloggen:hover
{
	height:100%;
	margin-top:9px;
	font-size:30;
	border:1px solid #2355ca;
}

#menuhomepage
{
	border-radius:15px 0px 0px 15px;
}

#menuinloggen
{
	border-radius:0px 15px 15px 0px;
}

.menuGeselecteerd
{
	height:100% !important;
	margin-top:9px !important;
	font-size:30 !important;
	border:1px solid #2355ca !important;
}
