#menuhomepage,#menuinformatie,#menuwebshop,#menuinloggen
{
	position:relative;
	width:24.8%;
	height:100%;
	float:left;
	border:1px solid blue;
	text-align:center;
	margin-bottom:1%;
	margin-top:1%;
}

#menuhomepage
{
	border-radius:15px 0px 0px 15px;
}

#menuinloggen
{
	border-radius:0px 15px 15px 0px;
}