#menuhomepage,#menuinformatie,#menuwebshop,#menuinloggen
{
	position:relative;
	width:24.8%;
	height:91.2%;
	float:left;
	text-align:center;
	margin-bottom:1%;
	margin-top:1%;
	border:solid 1px #0433a0;
}

#menuhomepage
{
	border-radius:15px 0px 0px 15px;
}

#menuinloggen
{
	border-radius:0px 15px 15px 0px;
}

.menuGeselecteerd
{
	height:100% !important;
	margin-top:9px !important;
	font-size:30 !important;
	border:1px solid #2355ca !important;
}

.button
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	border:1px solid #516e94;
	display:inline-block;
	color:#14396a;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:32px;
	width:330px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #7cacde;
}

.button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}

.button:active
{
	position:relative;
	top:1px;
}

.btnNoStyle
{
	border:none;
	background-color:#FFFFFF;
	font-size: 16px;
}

.fout
{
	font-size:16px;
	color:red;
}

ul
{
	list-style:none;
}

li
{
	list-style:none;
	background-color:darkred;
	float:left;
	width:140px;
	height:30px;
	line-height:30px;
	text-align:center;
}	

#content div ul ul
{
	display:none
}

#content div ul li:hover
{
	background-color:red;
	box-shadow: 1px 1px 3px 3px darkred inset;
}

#content div ul li:hover ul
{
	display:block;
}