#container
{
	position:absolute;
	width:70%;
	height:90%;
	top:5%;
	left:15%;
	min-width:993px;
	min-height:500px;
}

body
{
	background-color:#FFFFFF;
}

#header
{
	position:relative;
	height:16%;
	border:solid 1px #0433a0;
}

#logo
{
	width:80%;
	height:100%;
}

#quote
{
	position:relative;
	float:right;
	height:100%;
	width:11%;
}

#menu
{
	position:relative;
	height:10%;
	margin-bottom:2%;
	font-size:25;
}

#content
{
	position:relative;
	height:70%;
	border:solid 1px #0433a0;
}

#footer
{
	position:relative;
	height:2%;
	border:solid 1px #0433a0;
}

a
{
	text-decoration:none;
	color:black;
}

#tableLogin
{
	font-size:25px;
	position:relative;
	margin:auto;
	margin-top:10%;
}
