#container
{
	position:absolute;
	width:70%;
	height:90%;
	top:5%;
	left:15%;
	min-width:993px;
	min-height:500px;
}

#header
{
	position:relative;
	height:16%;
	border:1px solid green;
}

#logo
{
	width:80%;
	height:100%;
}

#quote
{
	position:relative;
	float:right;
	height:100%;
	width:11%;
}

#menu
{
	position:relative;
	height:10%;
	margin-bottom:2.3%;
	font-size:25;
}

#content
{
	position:relative;
	height:70%;
	border:1px solid red;
}

#footer
{
	position:relative;
	height:2%;
	border:1px solid black;
}

a
{
	text-decoration:none;
	color:black;
}
