#container
{
	position:absolute;
	width:70%;
	height:90%;
	top:5%;
	left:15%;
}

#header
{
	position:relative;
	height:16%;
	border:1px solid green;
	margin-bottom: 1%;
}

#logo
{
	width:80%;
	height:100%;
}

#quote
{
	position:relative;
	float:right;
	height:100%;
	width:11%;
}

#menu
{
	position:relative;
	height:10%;
	margin-bottom: 1%;
	
}

#content
{
	position:relative;
	height:70%;
	border:1px solid red;
}

#footer
{
	position:relative;
	height:2%;
	border:1px solid black;
}
