#webshopmenu {
	position: relative;
	float: left;
	width: 15%;
	height: 100%;
	border-right: solid 1px #0433a0;
	z-index: 1;
}
#webshopitemcontainer {
	float: right;
	width: 84%;
}

#webshopbestelcontainer {
	position:relative;
	margin:auto auto;
	width:30%;
	height: 100%;
}
.webshopitem {
	position: relative;
	float: left;
	width: 21%;
	border:1px solid blue;
	margin:1px;
}
.webshopitem img {
	width: 100px;
	height: 100px;
}

.btnWebshop
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	border:1px solid #516e94;
	display:inline-block;
	color:#14396a;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:32px;
	width:330px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #7cacde;
}

.btnWebshop:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}
