#container
{
	position:absolute;
	width:70%;
	height:90%;
	top:5%;
	left:15%;
}

#header
{
	position:relative;
	height:16%;
	border:1px solid green;
	margin-bottom: 1%;
}

#menu
{
	position:relative;
	height:10%;
	border:1px solid blue;
	margin-bottom: 1%;
}

#content
{
	position:relative;
	height:70%;
	border:1px solid red;
}

#footer
{
	position:relative;
	height:2%;
	border:1px solid black;
}
